@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1b1d31, #c91111 ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:url(anete/fondo5.jpeg);
    background-repeat: no repeat;
    background-position: center center;
    height: 1800px;
    background-attachment: fixed;
    background-size: cover;
    

  
}

form {
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)) ;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 420px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

form h2 {
    font-size: 30px;
    color: #edf0f0;
    margin-bottom: 35px;
}
.form-txt {
    display: flex;
    justify-content: space-between;
}

.form-txt a {
    color: white;
    text-decoration: none;
    margin-bottom: 35px;
    font-size: 15px;
}

input {
    padding: 17px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid #ece108 ;
    margin-bottom: 30px;
    outline: none;
    color: white;
    font-size: 16px;
}

::placeholder {
    color: #89879b;
}
.btn {
    background-color: #c91111;
    border: 2px solid #ece108;
    cursor: pointer;

}
.btn:hover {
    background-color: #ea9481;
    border: 2px solid #ea9481;
}

.activacion {
    color: #ece108;
    font-family: Arial, Helvetica, sans-serif;
   
}
.subtitulo {
    color: white;
    margin: 30px 0;
    font-family: Arial, Helvetica, sans-serif;
}


@media (max-width:991px) {
    body {
        padding: 30px;
    }
    form {
        width: 340px;
    }
}